## Decision Tree
Classification Problem </br>
We use it to solve a complex dataset where you split the dataset many times to come up wuth decision boundaries </br>
We are trying to find out if a person's salary s more than 100K based on the company, his job and degree

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv("csv/salaries.csv")
df.head()

  company                  job     degree  salary_more_than_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [3]:
# lets define our target and input labels ie X,y
inputs = df.drop("salary_more_than_100k", axis=1)
target = df["salary_more_than_100k"]

In [15]:
# we shall have to inputs dataset from text to numbers
# we shall then use the labelEncider class for this
# we will create 3 objects of the class
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [16]:
# lets create other columns for labelEncoded columns
# LabelEncoder assigns different labels with different numbers as foolows
inputs["company_n"] = le_company.fit_transform(inputs["company"])
inputs["job_n"] = le_company.fit_transform(inputs["job"])
inputs["degree_n"] = le_company.fit_transform(inputs["degree"])

In [17]:
inputs.head()

  company                  job     degree  company_n  job_n  degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [18]:
# now drop label columns columns
inputs_n = inputs.drop(["company","job","degree"], axis=1)
inputs_n

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [19]:
# we now import tree and train the model
from sklearn import tree

In [20]:
# create an instance of the model and train it
model = tree.DecisionTreeClassifier()
model.fit(inputs_n,target)

DecisionTreeClassifier()

Ensure to use train_test_split while traiing models. Its the best way but lets now keep it simple

In [21]:
model.score(inputs_n,target)

1.0

In [22]:
# lets predict 
inputs.head()

  company                  job     degree  company_n  job_n  degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [23]:
# lets predict for someone at google, business manager and masters
# salary is > 100K
model.predict([[2,0,1]])

/home/lovis/.local/lib/python3.10/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1])

In [24]:
df.head()

  company                  job     degree  salary_more_than_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

### Exercise [Titanic csv]
predict the survival of a person based on their sex, Pclass, age, fare